input[type="text"], input[type="submit"], input[type="checkbox"] {
  background-color: #ffd700;
  padding: 5px;
  margin: 5px;
}

fieldset {
  width: 25%;
}

#last-name {
  font-weight: bold;
}

#instruction {
  border: 1px solid;
  padding: 5px;
}
